/* »”Ìÿ ··” «Ì· «·⁄«„ */
body {
    background: #f4f6f9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.sidebar-link {
    color: #fff;
    display: block;
    padding: 8px 10px;
    border-radius: 6px;
}

    .sidebar-link:hover {
        text-decoration: none;
        opacity: .9;
        background: rgba(255,255,255,0.05);
    }

.card-small {
    border-radius: 10px;
}

.table td, .table th {
    vertical-align: middle;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
